/* rubik-regular - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/rubik-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/rubik-v11-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin_cyrillic */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/rubik-v11-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/rubik-v11-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #333;
}

.wrapper {
    box-sizing: content-box;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}

/* header styles */
.header {
    flex: 0 0 auto;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 32px;
}

.header-logo {
    width: 32.97%;
    align-self: flex-start;
}

@media screen and (max-width: 800px) {
    .header-logo {
        width: 10%;
    }
}


.header-logo_link {
    display: flex;
    align-items: center;
}

.header-logo_pick {
    align-self: flex-start;
    vertical-align: baseline;
}

.header-logo_item {
    padding-left: 11px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    overflow: visible;
}

@media screen and (max-width: 800px) {
    .header-logo_item {
        overflow: hidden;
        height: 1px;
        width: 1px;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.header-search {
    width: 34%;
    display: flex;
    justify-content: space-between;
}

.header-search_form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-search_input {
    border: none;
    border-bottom: 1px solid #333333;
    padding: 7px 0 6px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px
}

.header-search_input::placeholder {
    font-weight: 400;

}


.header-search_button {
    background: transparent;
    border: none;
    color: #E5261E;

}

.search-btn {
    padding: 10px 32px;
    margin-right: -32px;
}

.search-btn:hover,
.search-btn:focus,
.search-btn:active {
    opacity: .75;
}

.header_login {
    width: 32.97%;
    text-align: end;
}

#not-autorized {
    display: block;
}

#autorized {
    display: none;
}

.login-enter {
    background: #E5261E;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 9px 32px 10px;
}

.login-btn:hover {
    background: #CC221B;
}

.login-exit {
    border: none;
    background: #FFFFFF;
    color: #E5261E;
    padding: 9px 0 10px 16px;
}

.login-enter:hover {
    opacity: 0.8;
}

.autorized-input {
    border: none;
    color: #333333;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: end;
}

/* main styles */
.main {
    flex: 1 0 auto;
    padding: 32px 0 72px 0;

}

.main_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.nav-item {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: right;
    color: #333333;
    padding: 12px;
    cursor: pointer;
}

.nav-item_activ {
    color: #E5261E;
}

.item_tv-link {
    display: block;

    text-decoration: none;
}

.item-tabs {

}

.item_tv-link:hover {
    color: #E5261E;
}

/* movies styles*/
.movies {
}

.section-movies {

}

@media screen and (max-width: 1210px) {
    .section-movies {

        max-width: 640px;
        margin: 0 auto
    }
}

.section-movies-title {
    padding: 6px 0 15px 0;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.movies-description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}

@media screen and (max-width: 610px) {
    .movies-description {
        justify-content: center;

    }
}

@media screen and (min-width: 1210px) {
    .movies-description {
        justify-content: flex-start;

    }
}

.movies-description_item {
    width: 280px;
    margin: 0 10px;
}

@media screen and (max-width: 1210px) {
    .movies-description_item {
        margin-bottom: 10px;
    }
}

.movies-name {
    display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 0 16px 0;
}

@media screen and (max-width: 1210px) {
    .section-genre {

        max-width: 640px;
        margin: 0 auto
    }
}

.genre-title {
    padding: 16px 0;
}

.genre {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}

@media screen and (max-width: 610px) {
    .genre {
        justify-content: center;

    }
}

@media screen and (min-width: 1210px) {
    .genre {
        justify-content: flex-start;

    }
}

img {
    border-radius: 8px;
}

.bg {
    position: relative;
    width: 280px;
    height: 208px;
}

.emoji {
    margin: 0 10px;
}

@media screen and (max-width: 1210px) {
    .emoji {
        margin-bottom: 10px;
    }
}

.emoji-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    position: absolute;
    transform: translate(-50%, 0);
    bottom: 24px;
    left: 50%;
}

.emoji-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg_emoji_grinning {
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.bg_emoji_crying {
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.bg_emoji_alien {
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.bg_emoji_ghost {
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.bg:hover {
    cursor: pointer;
    opacity: 100;
}

/* tv styles*/
.tv {
    display: none;
}

.tv-channel {
    overflow: auto;
    height: 696px;
}

.channel {
    display: flex;
    height: 162px;
    background: #F2F2F2;
    border-radius: 8px;
    margin-bottom: 16px;
}

.channel:last-child {
    margin-bottom: 0;
}

.channel-logo {
    width: 33.9%;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-program {
    width: 66.1%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 19px;
    justify-content: space-between;
}

.channel-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    padding-bottom: 17px;
}

.program {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.program-item:first-child {
    color: #E5261E;
}

.program-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px
}

.time {
    padding-right: 20px;
}

/* footer styles */
.footer {
    flex: 0 0 auto;
    background: #F2F2F2;
    padding: 22px 0 25px;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
    opacity: 0.75;
}

.footer_wrapper {
    display: flex;
}

.footer_logo-link {
    display: block;
    padding: 7px 38px 5px 38px;
    margin-left: -38px;
}

.contacs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.phone {
    color: #1F4766;
}

.contacs_link {
    color: #1F4766;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.poster {
    position: relative;
}

.descr {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #333333;
    opacity: 0.8;
    padding: 16px;
    display: none;
    border-radius: inherit;
}

.poster:hover .descr {
    display: block;
    cursor: pointer;
}

.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    border-radius: 8px;
    /* or 22px */
    /* Gray 6 */
    color: #F2F2F2;
}

/* login styles*/
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.modal-bg {
    background: #333333;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.window-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-window {

    background: #FFFFFF;
    width: 304px;
    border-radius: 8px;
    padding: 36px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.login-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 18px;
}

.form-input {
    margin-bottom: 18px;
    border-bottom: 1px solid #333333;
}

.input-item {
    width: 100%;
    border: none;
    padding: 6px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.input-item::placeholder {
    font-weight: 400;

}
.form-checkobx {
    margin-bottom: 105px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #333333;
    border-radius: 4px;
    background: #FFFFFF;
    margin-right: 8px;
}

.custom-checkbox:checked + label::before {
    border-color: #333333;
    background-image: url(../img/check/Vector.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.custom-checkbox-value {
    padding: 6px 0;
}

.form-btn {
    display: flex;
    justify-content: center;
}

.btn {
    text-align: center;
}